# LaTeX build files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.xdv
*.idx
*.ilg
*.ind
*.bcf
*.run.xml
*.nav
*.snm

# macOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
